ul {
  list-style-type: none;
  margin: 0px auto;
  padding: 0;
  overflow: hidden;
  background-color: #ff9900;
  width: 90vw;
}

li {
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li p {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
  background-color: #e9ebf0;
}

#body {
  padding: 1em;
  margin: 0px auto;
  width : 80vw;
  background-color: White;
  display: block;
}

#user {
  background-color: #e9ebf0;
  padding: 1em;
  margin: 1em auto;
  width: 500px;
}

#time {
  background-color: white;
  padding: 1em;
  text-align: right;
}

#text {
  background-color: #e9ebf0;
  margin: 1em;
  padding: 1em;
}

#login {
  color: white;
  margin: 16px;
  text-align: right;
}

* {
  font-family: 'Nunito', sans-serif;
}
